$App-bg-top: rgba(255, 33, 225, 0.4);
$App-bg-btm: rgba(33, 255, 250, 0.3);

$Calculator-bg: rgba(0, 0, 0, 0.2);
$Calculator-border: rgba(255, 33, 225, 0.5);
$Calculator-text: rgb(33, 255, 250);
$Screen-bg: rgba(0, 0, 0, 0.4);
$Calculator-bg-button: rgba(0, 0, 0, 0.3);