@import '../../sass/base/colors.scss';

.ComputationScreen {
    margin-top: -2px;
    padding: 0 10px;
    height: 6vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 18pt;
    font-weight: bold;
    border: $Calculator-border;
}

.ComputationScreen p {
    margin: 0;
}