@import '../../sass/base/colors.scss';

.Screen {
    height: 25vh;
    width: 100%;
    background-color: $Screen-bg;
    border-top-left-radius: $Border-radius;
    border-top-right-radius: $Border-radius;
    white-space: nowrap;
    overflow: hidden;
}