@import '../../sass/base.scss';

.ResultsScreen {
    @include Screen;
    height: 19vh;
    align-items: flex-end;
    font-size: 40pt;
    border-top-left-radius: $Border-radius;
    border-top-right-radius: $Border-radius;
}

.ResultsScreen h1 {
    margin: 0;
}

@media screen and (max-width: 640px) {
    .ResultsScreen {
        font-size: 30pt;
    }
}